<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MY QUIZZES</title>
</head>
<body>
  <header>
    <%- include('partials/_header'); %>
  </header>
  <h1> MY QUIZZES</h1>


</body>
</html>



<!-- <% for (let id in urls) { %>
  <tr>
    <td><%= id %></td>
    <td><%= urls[id].longURL %></td>
    <td><a href="/urls/<%= id %>"><button type="submit" class="btn btn-outline-primary">Edit</button></a</td>
    <td><form method="POST" action="/urls/<%= id %>/delete"><button type="submit" class="btn btn-outline-danger">Delete</button></form></td>
  </tr>
<% } %> -->
