<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- CSS STYLING IMPORTS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/styles/nav.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <link rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
  integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
  crossorigin="anonymous">

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
  <title>QUIZ PAGE</title>
</head>
<body>
  <header>
    <%- include('partials/_header'); %>
  </header>
  <div class="starter-template">

    <h1> <%=quiz.title%></h1>
    <section>
    <form action="/quiz/<%=quiz.id%>" method="POST">
      <div class="question">
      <div class = "individual-question">
        <p>1. </p><%=question_1.question%><br>
            </div>


            <div class = "individual-question">
        <input type="radio" id="quizq1a1" name="a1radio" required="required" value="1"><%=question_1.answer_1%><br>
      </div>

        <div class = "individual-question">
        <input type="radio" id="quizq1a2" name="a1radio" required="required" value="2"><%=question_1.answer_2%><br>
      </div>

        <div class = "individual-question">
        <input type="radio" id="quizq1a3" name="a1radio" required="required" value="3"><%=question_1.answer_3%><br>
      </div>

        <div class = "individual-question">
        <input type="radio" id="quizq1a4" name="a1radio" required="required" value='4'><%=question_1.answer_4%><br>
      </div>

        <br>
        <div class = "individual-question">
        <p>2. </p><%=question_2.question%><br>
      </div>
        <div class = "individual-question">
          <input type="radio" id="quizq2a1" name="a2radio" required="required" value="1"><%=question_2.answer_1%><br>
        </div>

          <div class = "individual-question">
          <input type="radio" id="quizq2a2" name="a2radio" required="required" value="2"><%=question_2.answer_2%><br>
        </div>

          <div class = "individual-question">
          <input type="radio" id="quizq2a3" name="a2radio" required="required" value="3"><%=question_2.answer_3%><br>
        </div>

          <div class = "individual-question">
          <input type="radio" id="quizq2a4" name="a2radio" required="required" value='4'><%=question_2.answer_4%><br>
        </div>
  <br>

        <div class = "individual-question">
          <p>3. </p><%=question_3.question%><br>
        </div>
          <div class = "individual-question">
            <input type="radio" id="quizq3a1" name="a3radio" required="required" value="1"><%=question_3.answer_1%><br>
          </div>

            <div class = "individual-question">
            <input type="radio" id="quizq3a2" name="a3radio" required="required" value="2"><%=question_3.answer_2%><br>
          </div>

            <div class = "individual-question">
            <input type="radio" id="quizq3a3" name="a3radio" required="required" value="3"><%=question_3.answer_3%><br>
          </div>

            <div class = "individual-question">
            <input type="radio" id="quizq3a4" name="a3radio" required="required" value='4'><%=question_3.answer_4%><br>
          </div>

          <br>

          <div class = "individual-question">
            <p>4. </p><%=question_4.question%><br>
          </div>
            <div class = "individual-question">
              <input type="radio" id="quizq4a1" name="a4radio" required="required" value="1"><%=question_4.answer_1%><br>
            </div>

              <div class = "individual-question">
              <input type="radio" id="quizq4a2" name="a4radio" required="required" value="2"><%=question_4.answer_2%><br>
            </div>

              <div class = "individual-question">
              <input type="radio" id="quizq4a3" name="a4radio" required="required" value="3"><%=question_4.answer_3%><br>
            </div>

              <div class = "individual-question">
              <input type="radio" id="quizq4a4" name="a4radio" required="required" value='4'><%=question_4.answer_4%><br>
            </div>

            <br>

            <div class = "individual-question">
              <p>5. </p><%=question_5.question%><br>
            </div>
              <div class = "individual-question">
                <input type="radio" id="quizq5a1" name="a5radio" required="required" value="1"><%=question_5.answer_1%><br>
              </div>

                <div class = "individual-question">
                <input type="radio" id="quizq5a2" name="a5radio" required="required" value="2"><%=question_5.answer_2%><br>
              </div>

                <div class = "individual-question">
                <input type="radio" id="quizq5a3" name="a5radio" required="required" value="3"><%=question_5.answer_3%><br>
              </div>

                <div class = "individual-question">
                <input type="radio" id="quizq5a4" name="a5radio" required="required" value='4'><%=question_5.answer_4%><br>
              </div>


          <br>

      </div>
      <button type="submit">Submit</button>
    </form>
    </section>
  </div>



</body>
</html>
