<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS STYLING IMPORTS -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/nav.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/layout.css" />

    <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
    crossorigin="anonymous">

    <script src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="/scripts/app.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

    <script>
    $(document).ready(function(){
      $('.btn-success').on('click', ()=> {
    console.log('help im clicked')
    $('.result_completed_gif').slideToggle("slow")
  });
    });
    </script>

  <title>RESULTS</title>
</head>
<body>
  <header>
    <%- include('partials/_header'); %>
  </header>
  <div class="starter-template">
    <div class="testingbox">
      <%- include('partials/_login'); %>
    </div>

    <div class="card text-center">
      <div class="card-title">
        <h2> <strong>Quiz Result: <%= title %></strong> </h2>
      </div>
      <div class="card-body">
        <h3 class="card-text">You got <strong><%= score %></strong> out of <strong>5</strong>.</h3>
        <% if (score == 5) { %>
          <h4 class="card-text"><em>Excellent!</em></h4>
          <a href="#" class="btn btn-success">Get your reward</a>
        <% } else { %>
        <a href="/quiz/<%= quiz_id %>" class="btn btn-warning">Try again</a>
        <% } %>
        &nbsp;
        <a href="/ %>" class="btn btn-info">More quizzes</a>
      </div>
      <br>
      <div class="card-footer text-muted">
        Completed at: <%= completed_at %>
      </div>
      <div class="result_completed_gif">
        <img src="/images/well-done-good-job.gif">
      </div>
    </div>

  </div>

</body>
</html>
